DISCORD_TOKEN=for
DISCORD_APPLICATION_ID=bar
DISCORD_PUBLIC_KEY=qux
DISCORD_PUBLIC_KEY=quux
DISCORD_WEBHOOK_URL=corge
DEEPL_API_KEY=string
SPOTIFY_CLIENT_ID=garply
SPOTIFY_CLIENT_SECRET=waldo;
SPOTIFY_REFRESH_TOKEN=fred;
