DISCORD_TOKEN=for
DISCORD_APPLICATION_ID=bar
DISCORD_PUBLIC_KEY=qux
DISCORD_WEBHOOK_URL=corge
DISCORD_DOODLE_CHANNEL_ID=1043762190303363112
DISCORD_NNN_CHANNEL_ID=1028287639918497822
DISCORD_GUILD_ID=895564066922328094
DISCORD_DEVELOPER_USER_ID=890908900520505354
DEEPL_API_KEY=string
SLACK_TOKEN=your_slack_token_here
SLACK_NNN_CHANNEL_ID=C06TE4N1HS4
SPOTIFY_CLIENT_ID=garply
SPOTIFY_CLIENT_SECRET=waldo
SPOTIFY_REFRESH_TOKEN=fred
OPENAI_API_KEY=your_openai_api_key_here
FORWARD_EMAIL=your_email_here
BLUESKY_IDENTIFIER=your_bluesky_identifier
BLUESKY_PASSWORD=your_bluesky_password
CHANNEL_ID=your_channel_id
NOTION_INBOX_DATABASE_ID=your_notion_inbox_db_id
NOTION_TOKEN=your_notion_token
NOTION_DATABASE_ID=your_notion_db_id
WAKATIME_API_KEY=your_wakatime_api_key
